::selection {
    background: #2D2F36;
}

::-webkit-selection {
    background: #2D2F36;
}

::-moz-selection {
    background: #2D2F36;
}

body {
    background: #180148;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 20px;
}

.page {
    background: #180148;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
}

.sign{
    text-align: center;
}

.log{
    text-align: center;
}

@media (max-width: 767px) {
    .page {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

.container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}

@media (max-width: 767px) {
    .container {
      flex-direction: column;
      height: 630px;
      width: 320px;
    }
}

.left {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
}

@media (max-width: 767px) {
    .left {
      height: 100%;
      left: 20px;
      width: calc(100% - 40px);
      max-height: 270px;
    }
}

.login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}