/* 
################################
        LOGIN AND SIGNUP
################################
*/

::selection {
    background: #E18AAA;
    /* background: #2D2F36; */
}

::-webkit-selection {
    background: #E18AAA;
    /* background: #2D2F36; */
}

::-moz-selection {
    background: #E18AAA;
    /* background: #2D2F36; */
}

body {
    background: #E18AAA;
    /* background: #180148; */
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}

.page {
    background: #E18AAA;
    /* background: #180148; */
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
}

.sign{
    text-align: center;
}

.log{
    text-align: center;
}

@media (max-width: 767px) {
    .page {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

.container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}

@media (max-width: 767px) {
    .container {
      flex-direction: column;
      height: 630px;
      width: 320px;
    }
}

.left {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
}

@media (max-width: 767px) {
    .left {
      height: 100%;
      left: 20px;
      width: calc(100% - 40px);
      max-height: 270px;
    }
}

.login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}

.eula {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}

.right {    
    background: #474A59;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    position: relative;
    width: 50%;
}

@media (max-width: 767px) {
    .right {
      flex-shrink: 0;
      height: 100%;
      width: 100%;
      max-height: 350px;
    }
}

svg {
    position: absolute;
    width: 320px;
}

path {
    fill: none;
    stroke: url(#linearGradient);;
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}

.form {
    margin: 40px;
    position: absolute;
}

label {
    color:  #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

input {
    background: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
}

input::-moz-focus-inner { 
    border: 0; 
}

#submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
}

#submit:focus {
    color: #f2f2f2;
}

#submit:active {
    color: #d0d0d2;
}

/* 
################################
        Landing page
################################
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.body{
    min-height: 100vh;
    background: linear-gradient(#E4A0B7, #ECBDC4, #EFCFD4, #F5DCE0);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active{
    background: #fff;
    color: #2b1055;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: linear-gradient(to top, #F5DCE0, transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    object-fit: cover;
}

section img.cloud{
    mix-blend-mode: screen;
}

.cloud1{
    top: 20%;
    right: 50%;
    left: 40%;
}

.cloud2{
    top: 10%;
    right: 50%;
    left: 70%;
}

.cloud3{
    top: 20%;
    right: 50%;
    left: 25%;
}

.cloud4{
    top: 55%;
    right: 50%;
    left: 9%;
}

.cloud5{
    top: 50%;
    right: 50%;
    left: 53%;
}

.moon{
    top: 10%;
    right: 50%;
    left: 40%;
    width:20%;
    height: 30%;
}

/* 

################################
          Stars
################################

 */
 .sky {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateZ(45deg); 
    transform: rotateZ(45deg);
  }
    
  /* Here we are making roundabout balls  */
  .star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    border-radius: 885px;
    background: linear-gradient(-45deg, 
      #eef0f5, rgba(0, 0, 255, 0));
    
    -webkit-filter: drop-shadow(0 0 6px #eef1f8);
    filter: drop-shadow(0 0 6px #d7dff0);
    -webkit-animation: tail 3000ms ease-in-out infinite,
      shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite,
      shooting 3000ms ease-in-out infinite;
  }
    
  /* Here we add before and after effect to star */
  .star::before,
  .star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(
      -45deg,
      rgba(0, 0, 255, 0),
      #eaeef8,
      rgba(0, 0, 255, 0)
    );
    -webkit-transform: translateX(50%) rotateZ(45deg);
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
  }
  .star::after {
    -webkit-transform: translateX(50%) rotateZ(-45deg);
    transform: translateX(50%) rotateZ(-45deg);
  }
    
  /* Here we are adding location of each 
     nth-child, animations, delays, and 
     before and after effects to each 
     and every balls(stars) */
  .star:nth-child(1) {
    /* top: calc(50% - -119px);
    left: calc(50% - 43px); */
    top: 10%;
    left: 20%;
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
  }
  .star:nth-child(1)::before,
  .star:nth-child(1)::after {
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
  }
  .star:nth-child(2) {
    top: calc(50% - -43px); 
    left: calc(50% - 37px);
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
  }
  .star:nth-child(2)::before,
  .star:nth-child(2)::after {
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
  }
  .star:nth-child(3) {
    top: calc(50% - -40px);
    left: calc(50% - 222px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
  }
  .star:nth-child(3)::before,
  .star:nth-child(3)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
  }
  .star:nth-child(4) {
    top: calc(50% - -29px);
    left: calc(50% - 113px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
  }
  .star:nth-child(4)::before,
  .star:nth-child(4)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
  }
  .star:nth-child(5) {
    top: calc(50% - 146px);
    left: calc(50% - 112px);
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
  }
  .star:nth-child(5)::before,
  .star:nth-child(5)::after {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
  }
  .star:nth-child(6) {
    top: calc(50% - -108px);
    left: calc(50% - 160px);
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
  }
  .star:nth-child(6)::before,
  .star:nth-child(6)::after {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
  }
  .star:nth-child(7) {
    top: calc(50% - 52px);
    left: calc(50% - 72px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
  }
  .star:nth-child(7)::before,
  .star:nth-child(7)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
  }
    
  /* This code will help to generate 
  effect in tail of star */
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
    
  /* This code will generate shining 
  effect in head of star */
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
    
  /* Here we are adding webkit-animation 
  to head of star for shining */
  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
    
  /* Here we are adding webkit-animation 
  to tail of star */
  @-webkit-keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
    
  /* Here we are adding webkit-animation 
  for shooting effect */
  @-webkit-keyframes shooting {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(270px);
      transform: translateX(270px);
    }
  }
    
  /* Here we make shooting effect */
  @keyframes shooting {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(270px);
      transform: translateX(270px);
    }
  }

.text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

section img.cloud5{
    z-index: 10;
}

.sec{
    position: relative;
    padding: 100px;
    /* background-color: #eef0f5; */
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p{
    font-size: 1.2em;
    color: #fff;
}